.login .nav-left {
  display: flex;
}
.login .logo {
  width: 34px;
  height: 34px;
  background-color: tomato;
  border-radius: 50%;
  margin-top: 6px;
}
.login .logo-text {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 46px;
}
.login /deep/ .van-nav-bar__text {
  color: skyblue;
  font-weight: bold;
}
.login .user-box {
  margin-top: 100px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.login .welcome {
  font-size: 28px;
  font-weight: bold;
}
.login .sub-title {
  margin-top: 30px;
  color: #83838B;
  font-size: 16px;
}
.login .user-title {
  margin-bottom: 50px;
}
.login .commit-btn {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.login .forgot {
  text-align: right;
  color: #666666;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 20px;
}
.login .register-box {
  padding: 30px 0;
}
.login .register-btn {
  padding: 0 15px;
}
.login .register-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 50px;
}
